{% extends 'base_authentication.html' %}

{% load i18n %}


{% block title %}{% trans 'Logging' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Logging' %}</h1>
    {% if form.errors %}
        <p>{% trans 'Username or/and password is incorrect. Try again.' %} </p>
    {% else %}
        <p>{% trans 'Fill out the form below to log in:' %}</p>
    {% endif %}

    <form action="#" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" class="btn btn-success" value='{% trans 'Log in' %}' /></p>
    </form>
        <p><a href="#">{% trans 'Have you forgotten your password?' %}</a></p>
{% endblock %}