{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
    <div class="card-header">
        <h3 class="text-center">{% trans 'Have you forgotten your password?' %}</h3>
        <p>{% trans 'Enter the e-mail to set a new password.' %}</p>
        <form action="" method="post">
            {{ form.as_p }}
            <p><input type="submit" class="btn btn-success" value="{% trans 'Send e-mail' %}"></p>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}