{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
    <div class="card-header">
        <h3 class="text-center">{% trans 'Reset password' %}</h3>
             {% if validlink %}
                <p>{% trans 'Enter the new password twice:' %}</p>
                <form action="" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="{% trans 'Change password' %}" /></p>
                </form>
            {% else %}
            <p>{% trans 'The link to reset the password is incorrect because it has probably already been used before. You must restart the password reset procedure' %}</p>
    </div>
{% endif %}
{% endblock %}