{% extends "base_authentication.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}

    <h1>{% trans 'Reset password' %}</h1>
         {% if validlink %}
            <p>{% trans 'Enter the new password twice:' %}</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="{% trans 'Change password' %}" /></p>
            </form>
        {% else %}
        <p>{% trans 'The link to reset the password is incorrect because it has probably already been used before. You must restart the password reset procedure' %}</p>
{% endif %}
{% endblock %}