{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
    <div class="card-header">
        <h3 class="text-center">{% trans 'Change password' %}</h3>
        <p>{% trans 'Fill out the form to change your password' %}.</p>
            <form action="" method="post">
            {{ form.as_p }}
            <p><input type="submit" class="btn btn-success" value="{% trans 'Change' %}"></p>
            {% csrf_token %}
            </form>
    </div>
{% endblock %}