{% extends 'base_admin.html' %}

{% load i18n %}


{% block content %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">E-cookbook</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <a href="#" target="_blank" class="btn btn-info d-none d-lg-block m-l-15">
                    {% trans 'Add meal' %}</a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2 class="text-title">My meals</h2>
        <div class="card-group">
            {% for meal in meals %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            {% for category in meal.categories.all %}{{ category }}<br />{% endfor %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ meal.name }}</h4>
                            <p class="card-text">Add later - meal calories</p>
                            <p class="card-text">{{ meal.preparation_time }}</p>
                            <a href="{% url "meals:meal_detail" meal.id %}"
                               class="btn waves-effect waves-info btn-info">{% trans 'View' %}</a>
                            <a href="{% url "meals:meal_delete" meal.id %}"
                               class="btn waves-effect waves-dark btn-dark">{% trans 'Delete' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}