{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">{% trans 'E-Cookbook' %}</h1>
        <hr class="my-4">
        <p>{% trans 'Store your favorite recipes with their calories' %}</p>
        <a href="{% url 'authentication:login' %}" type="button" class="btn btn-success">
            {% trans 'Log in' %}</a><br /><br />
        <p>{%  trans 'Not a member yet?' %}</p>
        <a href="{% url 'authentication:register' %}" type="button" class="btn btn-success">
            {% trans 'Register' %}</a>
    </div>
{% endblock %}