{% extends 'base.html' %}

{% load i18n %}


{% block title %}{% trans 'Editing an account' %}{% endblock %}


{% block content %}
    <div class="card-header">
        <h3>{% trans 'Editing an account' %}</h3>
        <p>{% trans 'You can change your account settings using the form' %}</p>
        <form action="." method="post" enctype="multipart/form-data">
            {% trans 'First name' %}<br />
                {{ user_form.first_name }}<br /><br />
            {% trans 'Last  name' %}<br />
                {{ user_form.last_name }}<br /><br />
            {% trans 'E-mail' %}<br />
                {{ user_form.email }}<br /><br />
            {% trans 'Sex' %}<br />
                {{ profile_form.sex }}<br /><br />
            {% trans 'Birth date' %}<br />
                {{ profile_form.birth_date }}<br /><br />
            {% trans 'Photo' %}<br />
                {{ profile_form.photo }}<br /><br />

            {% csrf_token %}
            <p><input type="submit" class="btn btn-success" value="{% trans 'Save' %}"></p>
        </form>
    </div>

{% endblock %}